/out/production/Ornek/com/bilgeadam/ornek/Oyuncu.class
/out/production/Ornek/com/bilgeadam/ornek/StaticDeneme.class
/out/production/Ornek/com/bilgeadam/ornek/OyuncuTest.class
/out/production/Ornek/com/bilgeadam/ornek/KişiTest.class
/out/production/Ornek/com/bilgeadam/ornek/HesapMakinesi.class
/out/production/Ornek/com/bilgeadam/ornek/Kişi.class
